.table:hover {
	
}

h2 {
	color: green;
	text-align: center;
	margin-bottom: 10px;
}

.hidden{
	display: none;
}

.visuallyhidden {
 	opacity: 0.2;
}

body {
	/*background-color: rgb(62, 148, 236);*/
	background-image:url('../resources/escheresque_ste.png');
	overflow: auto;
}

thead {
	background-color: rgb(62, 148, 236);
	color: white;
}

thead th {
	text-align: center;
}

.table-striped>tbody>tr:nth-child(even) {
	background-color: rgb(236, 240, 241);
	text-align: center;
}

.table-striped>tbody>tr:nth-child(even) input{
	background-color: rgb(236, 240, 241);
	color: black;
	text-align: center;
}

.table-striped>tbody>tr:nth-child(odd) {
	background-color: white;
	text-align: center;
}

.table-striped tbody tr:hover td, .table-striped tbody tr:hover th {
	background-color: rgb(108, 122, 137);
	color: white;
}

.table.table-striped>thead>tr>th:nth-child(10) {
	font-size: 20px;
	text-align: center;
	color: rgb(46, 204, 113);
}


tr:hover .glyphicon-remove:hover {
	color: rgb(217, 30, 24);
}

tr:hover .glyphicon-edit:hover {
	color: rgb(249, 191, 59);
}

.ng-isolate-scope {
	margin-top: 5px;
}

.glyphicon {
	font-size: 20px;
}

label{
	color: rgb(25, 25, 25);
}

ul.pagination.ng-table-pagination.ng-scope{
	margin:0px;
}

.edited{
	background-color : #F5ECCE;
}

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px; }
